{% extends 'base/main.html' %}
{% load static %}

{% block title %}
    Student Center | Lesson Name
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'base/css/lesson.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/expandable.css' %}">
{% endblock %}

{% block nav-logo %}
    <img src="{% static 'base/assets/images/logo-regular.png' %}" alt=""/>
{% endblock %}

{% block vision %}

{% endblock %}

{% block header %}

{% endblock %}

{% block body-content %}
    <div class="lesson-section">
        <iframe
                src="{{ lesson.video_embed_url }}"
                title="{{ lesson.video_title }}"
                frameborder="0"
                allowfullscreen
        ></iframe>
        <h2 class="video-title">{{ lesson.video_title }}</h2>
        <h1>{{ lesson.name }}</h1>
        <p class="description">
            {{ lesson.description }}
        </p>
        <div class="appendices">
            <h2>Lesson Appendices</h2>
            {% for appendix in appendices %}
                <div class="appendix expandable">
                    <div class="title">
                        <h4>{{ appendix.name }}</h4>
                        <div class="toggle">
                            <i class="icon">
                                <svg
                                        width="13px"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 448 512"
                                >
                                    <path
                                            fill="#fff"
                                            d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"
                                    />
                                </svg>
                            </i>
                            <span class="text">Expand</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <h3>
                                <img
                                        class="icon"
                                        src="{% static 'base/assets/icons/notebook.svg' %}"
                                        alt=""
                                        srcset=""
                                />

                                Appendix Content
                            </h3>
                        </div>
                        <div class="content-item">
                            <ul>
                                {% if appendix.linkURL %}
                                    <li>
                                        <a href="{{ appendix.linkURL }}">{{ appendix.linkname }}</a>
                                    </li>
                                {% endif %}
                                {% if appendix.text %}
                                    <li>{{ appendix.text }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'base/js/expandable.js' %}"></script>
{% endblock %}