nav {
    position: static;
    background-color: var(--white);
}

nav .logo img {
    width: 105px;
}

nav .content .links li a {
    color: var(--theme-color);
}

nav .content .links li a:hover,
nav .content .links li a.active {
    color: var(--secondary-color);
}

nav .content .user .btn:hover {
    border-color: var(--secondary-color);
}

nav .content .user .btn:hover a {
    color: var(--secondary-color);
}

/* Access codes link */
a.access-codes-link {
    color: var(--theme-color);
    display: block;
    text-align: center;
    margin: 10px;
}

/* Register form styling */
.register-lesson h2 {
    margin-bottom: 30px;
}

.register-lesson h4 {
    margin-bottom: 15px;
}

.register-lesson span.msg {
    color: crimson;
    display: inline-block;
    margin: auto;
    margin-bottom: 5px;
}

.register-lesson input.invalid {
    border-color: crimson;
}

.register-lesson input,
.register-lesson button {
    margin-bottom: 10px;
    border-radius: 6px;
    outline: none;
    height: 30px;
    padding: 10px;
    border: 1px solid var(--theme-color);
}

.register-lesson button {
    height: 35px;
    font-size: 18px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    color: var(--white);
    cursor: not-allowed;
}

.register-lesson button:not(:disabled):hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--theme-color);
}

.register-lesson,
.lesson-section {
    margin: 40px 60px;
    background-color: var(--white);
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
}

.register-lesson {
    max-width: 500px;
    margin: 40px auto !important;
}

/*.lesson-section iframe {*/
/*    width: 70vw;*/
/*    height: 80vh;*/
/*    align-self: center;*/
/*    margin-bottom: 20px;*/
/*}*/

.lesson-section .photo {
    width: 50vw;
    height: unset;
    align-self: center;
    margin-bottom: 50px;
}

.lesson-section .video-title {
    font-size: var(--font-l);
    margin-bottom: 50px;
    margin-right: 100px;
    font-weight: lighter;
    margin-top: 20px;
}

.lesson-section h1 {
    font-size: var(--font-xxl);
    margin-bottom: 20px;
}

.lesson-section p.description {
    font-size: var(--font-m);
    margin-bottom: 60px;
}

.lesson-section .appendices h2 {
    font-size: var(--font-xl);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    nav .logo img {
        width: 75px;
    }

    nav .content .links li a {
        color: #ffffff;
    }

    nav .content .links li a:hover, nav .content .links li a.active {
        color: var(--theme-color);
    }

    .register-lesson,
    .lesson-section {
        margin: 30px 20px;
        padding: 30px 20px;
    }

    /*.lesson-section iframe {*/
    /*    width: 100%;*/
    /*    height: 200px;*/
    /*    align-self: center;*/
    /*    margin-bottom: 10px;*/
    /*}*/

    .lesson-section .video-title {
        font-size: 16px;
        margin-bottom: 25px;
        margin-left: 50px;
        font-weight: lighter;
        margin-top: 10px;
    }

    .lesson-section .photo {
        width: 65vw;
        height: unset;
        align-self: center;
        margin-bottom: 30px;
    }

    .lesson-section h1 {
        margin-bottom: 10px;
    }

    .lesson-section p.description {
        margin-bottom: 30px;
    }

    .lesson-section .appendices h2 {
        margin-bottom: 15px;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .register-lesson,
    .lesson-section {
        margin: 40px;
        padding: 40px;
    }

    /*.lesson-section iframe {*/
    /*    height: 350px;*/
    /*}*/

    .lesson-section .video-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
}